<main>
        <section>
            <div class="about-heading">
                <h3>Get the most out of <span>communication</span> with...</h3>
            <div>

            <div class="about-items">
                <div class="items item-1">
                    <div class="about-img">
                        <img src="/img/Chatrooms.svg">
                    </div>
                    <div class="text">
                        <h4>Chat-Rooms</h4>
                        <p>Connect with people. Share your ideas and views on various topics with different people.</p>
                    </div>
                </div>

                <div class="items item-2">
                    <div class="about-img">
                        <img src="/img/iDiary.svg">
                    </div>
                    <div class="text">
                        <h4>iDiary</h4>
                        <p>Never lose track of your chats. Store important messages. Be up-to-date.</p>
                    </div>
                </div>

                <div class="items item-3">
                    <div class="about-img">
                        <img src="/img/iSchedule.svg">
                    </div>
                    <div class="text">
                        <h4>iSchedule</h4>
                        <p>Communicate scheduled messages at later dates with no internet connection.</p>

                    </div>
                </div>

                <div class="items item-4">
                    <div class="about-img">
                        <img src="/img/iSearch.svg">
                    </div>
                    <div class="text">
                        <h4>iSearch</h4>
                        <p>Looking for new friends? Hoping to meet new people? iSearch connects you to other users in your location.</p>
                    </div>
                </div>

                <div class="items item-5">
                    <div class="about-img">
                        <img src="/img/iReminder.svg" width="500px">
                    </div>
                    <div class="text">
                        <h4>iReminder</h4>
                        <p>Trying to remember a lot of things at once? Keep being informed with iReminder which notifies you of upcoming events.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>