 <main class="contact-form-body">
        <div class="container">
            <div>
                <form method="post" data-netlify="true">
                    <h2>Contact Us</h2>
                    <input type="text" class="contact-input" placeholder="First Name" required>
                    <input type="text" class="contact-input" placeholder="Last Name">
                    <input type="email" class="contact-input" placeholder="Enter Email" required>
                    <input type="text" class="contact-input" placeholder="Message Title" required>
                    <textarea name="massage" placeholder="Write your message..." rows="5" required></textarea> <br>
                    <button class="submit">Send</button>
                </form>
            </div>	
			
		</div>

		<div class="livechat-container" id="chatbox">

			<div class="livechatbox">

				<div class="livechatlogs">

					<div class="livechat friend">
						<div class="user-img"><img src="/img/dummy2.png" width="60px" height="height: 60px"></div>
						<p class="livechat-msg">Wadddo bro...!!!</p>
					</div>
					<div class="livechat self">
						<div class="user-img"><img src="/img/dummy-profile.jpg" width="60px" height="height: 60px"></div>
						<p class="livechat-msg">Good bro!!</p>
					</div>
					<div class="livechat friend">
						<div class="user-img"><img src="/img/dummy2.png" width="60px" height="height: 60px"></div>
						<p class="livechat-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					</div>
					<div class="livechat self">
						<div class="user-img"><img src="/img/dummy-profile.jpg" width="60px" height="height: 60px"></div>
						<p class="livechat-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
					<div class="livechat friend">
						<div class="user-img"><img src="/img/dummy2.png" width="60px" height="height: 60px"></div>
						<p class="livechat-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					</div>
					<div class="livechat self">
						<div class="user-img"><img src="/img/dummy-profile.jpg" width="60px" height="height: 60px"></div>
						<p class="livechat-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
					<div class="livechat friend">
						<div class="user-img"><img src="/img/dummy2.png" width="60px" height="height: 60px"></div>
						<p class="livechat-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					</div>
					<div class="livechat self">
						<div class="user-img"><img src="/img/dummy-profile.jpg" width="60px" height="height: 60px" ></div>
						<p class="livechat-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>

				</div>

				<div class="livechat-form">
					<textarea class="livetext"></textarea>
					<button>Send</button>
				</div>

			</div>


		</div>

		<div class="contact-container">
			<ul class="contact-list">
				<li><a href="tel:+2348012345678" target="_blank"><i class="fas fa-phone"> </i> <span>+2348012345678</span></a></li>
				<li><a href="mailto: hello@i2talk.com" target="_blank"><i class="fa fa-envelope"> </i> <span>hello@i2talk.com</span></a></li>
				<li><a href="https://www.linkedin.com/in/i2talk" target="_blank"><i class="fab fa-linkedin"> </i> <span> i2talk</span></a></li>
			</ul>
		</div>
    </main>

    	<a class="gotopbtn" id="chatBoxButton" href=""><i class="fas fa-comment-dots"></i></a>