
<main>
        <div class="faq-heading">
            <img src="/img/faq.svg" alt="" width="300px" height="300px">
            <h3>Frequently Asked Questions</h3>
        </div>
        <br>
        <div class="faq-questions">

            <h4 onclick="reveal('answer1')"> + &nbsp Why should I use i2talk? </h4>
            <p id="answer1">i2talk is an online chatting platform that infuses a diary for message storage, schedular and reminder to notify you of events as well  as location-based user search. These amazing features make communication easier and effective </p>
            <br>

            <h4 onclick="reveal('answer2')"> + &nbsp How do I find other users?</h4>
            <p id="answer2">To find other users, you have to turn on locations on your device settings, go to your profile dashboard and click iSearch.</p>
            <br>

            <h4 onclick="reveal('answer3')"> + &nbsp How do I retrieve my password? </h4>
            <p id="answer3">If you forget your password while trying to login, click the forget password link and it takes you to a page to input the email address you used in creating your accounnt. After submitting this, a reset password/link is sent to that e-mail address and you are good to go.</p>
            <br>

            <h4 onclick="reveal('answer4')"> + &nbsp How do I save a message to iDiary?</h4>
            <p id="answer4">To save a message to iDiary, select the message and click the "iDiary" option. To eventually access the message, go to your profile dashboard and select "iDiary", all your saved messages become visible.</p>
            <br>

            <h4 onclick="reveal('answer5')"> + &nbsp How do I schedule a message?</h4>
            <p id="answer5">To schedule a message or status, go to your profile dashboard and select "iSchedule". Input the message to be scheduled as well as the recipient of this message. The recipient can be a friend or your status that is if you want the message to be posted on your status. After this, select the time and date for the message to be sent.</p>
            <br>

            <h4 onclick="reveal('answer6')"> + &nbsp How do I use the iReminder option?</h4>
            <p id="answer6">To use the iReminder option, go to your profile dashboard and select "iReminder". Input the topic of reminder ,date and time to be reminded.</p>
            <br>

            <h4 onclick="reveal('answer7')"> + &nbsp How do I join a chatroom?</h4>
            <p id="answer7">Go to your profile dashboard, select "chatrooms". Input the topic you're looking for and select from suggestions provided and you're in!</p>
            <br>

        </div>



    </main>