<div class="chat-message-container" id="user-msg-container">
		<div class="chat-message">
			<div id="main-container">
				<!-- <img src="../assets/connect.jpg"> -->
				<h1>Welcome to i2talk</h1>
				<p>No conversation in sync. Please, search for users and start chat.</p>
			</div> 	  
		</div>
	</div>
{{!-- 
{{#extend "scripts"}}
<script src=""></script>
{{/extend}} --}}