<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="Description" content="i2talk">
	<meta name="Keywords" content="Chat App, Chat rooms, Message Scheduling, Location-based User search, chats, iDiary, iSchedule, iReminder, iSearch">
		
		
	<link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/styles.css">
	
	<title>i2talk | Chat beyond limits</title>
</head>

<body>
	<!-- Header -->
	<header class="section">
		<!-- Navigation Bar -->
		
   		<nav>
    		<ul class="navbar navbar-container">
        		<li class="logo"><a href="/"><img class="logo-img" src="/img/logo.svg"></a></li>
        		<li class="item current"><a href="/" class="">Home</a></li>
        		<li class="item"><a href="/about">About</a></li>        		
        		<li class="item"><a href="/signup">Sign Up</a></li>
        		<li class="item"><a href="/login">Log In</a></li>
				<li class="item"><a href="/contact">Contact Us</a></li>
        		<li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    		</ul>
    		
		</nav>
		
	</header>

	<main>
		<!-- Hero Section -->
		<section>
			<div class="hero">
				<div class="hero-box first-text">
					<div class="hero-text">
						<div class="hero-t">
							<h3>Communication is the molecule of life!</h3>
							<p>Enjoy seamless flow of communication with endless possibilities on</p>
							<h1>i2Talk</h1>
						</div>
					</div>

					<!-- Hero button -->
					<div class="hero-btn">
						<a href="signup.html" class="sign-up">SIGN UP</a>
					</div>
				</div>

				<img src="/img/hero-image.png" alt="" class="hero-box hero-img">
			</div>
		</section>

		<!-- User Journey Section -->
		<section class="user-j">
			<h3>JUST A CLICK AWAY</h3>
			<div class="userjny">
				<div class="user-box">
					<a href="signup.html"><img src="/img/user-journey-img1.svg" alt="" class="user-img"></a>
					<h4>Sign Up</h4>
				</div>
				<div class="user-box">
					<img src="/img/user-journey-img2.svg" alt="" class="user-img">
					<h4>Enable location</h4>
				</div>
				<div class="user-box">
					<img src="/img/user-journey-img3.svg" alt="" class="user-img">
					<h4>Find friends</h4>
				</div>
				<div class="user-box">
					<img src="/img/user-journey-img4.svg" alt="" class="user-img">
					<h4>Join Chatrooms</h4>
				</div>
				<div class="user-box">
					<img src="/img/user-journey-img5.svg" alt="" class="user-img">
					<h4>Connect on the go!</h4>
				</div>
			</div>

			<!-- User Journey Buttons -->
			<div class="user-btn">
				<a href="/signup" class="sign-up">SIGN UP</a>
				<a href="/login" class="login">LOG IN</a>
			</div>
		</section>
	</main>

		<!-- Footer -->		
		<footer id="footer">
			<div class="footer-row">
				<div class="box">
					<h3><span>Quicklinks</span></h3>
					<!-- Social Links -->
					<div>
						<ul>
							<li><a href="/about">Features</a></li>
							<li><a href="/faq">FAQs</a></li>
							<li><a href="/contact">Help</a></li>
						</ul>
					</div>
				</div>
				<div class="box">
					<h3><span>Products</span></h3>
					<!-- Social Links -->
					<div>
						<ul>
							<li><a href="/about">Explore</a></li>
							<li><a href="./terms.html">Terms of Service</a></li>
							<li><a href="/contact">Help Center</a></li>
						</ul>
					</div>
				</div>
				<div class="box">
					<h3><span>Our Company</span></h3>
					<!-- Social Links -->
					<div>
						<ul>
							<li><a href="/about">About Us</a></li>
							<li><a href="/contact">Contact Us</a></li>
							<li><a href="./security&privacy.html">Security &amp; Privacy</a></li>
						</ul>
					</div>
				</div>
			</div>		
			<div class="footer-bar"><p>i2talk &copy; 2020, All Rights Reserved.</p></div>
		</footer>

</body>
</html>